<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accentGradientBottomColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>accentGradientTopColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>applyButtonDefaultTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>applyButtonDefaultTextShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>applyButtonGradientBottomColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>applyButtonGradientTopColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>applyButtonHighlightedTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>applyButtonInnerShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>applyButtonStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>0.75</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>bottomBarColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#003a4b</string>
	</dict>
	<key>bottomBarInnerStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#474953</string>
	</dict>
	<key>bottomBarOuterStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>cancelButtonColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#003a4b</string>
	</dict>
	<key>cancelButtonDefaultTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>cancelButtonDefaultTextShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>cancelButtonHighlightedTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>cancelButtonInnerShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>0.40000000600000002</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>cancelButtonStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>0.75</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>canvasColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>defaultIconDropShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>defaultIconGradientBottomColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#bbcedf</string>
	</dict>
	<key>defaultIconGradientTopColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#e8eef4</string>
	</dict>
	<key>defaultIconInnerShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>0.75</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>defaultIconStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>handleBezelGradientBottomColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#b6c2cb</string>
	</dict>
	<key>handleBezelGradientTopColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ff8000</string>
	</dict>
	<key>handleColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#e3e9ec</string>
	</dict>
	<key>handleShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>handleStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>highlightedIconGlowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>highlightedIconGradientBottomColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>highlightedIconGradientTopColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>highlightedIconInnerShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>0.75</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>highlightedIconStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ff8000</string>
	</dict>
	<key>highlightedTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>navBarColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#003a4b</string>
	</dict>
	<key>navBarInnerStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#474953</string>
	</dict>
	<key>navBarOuterStrokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>navigationBarTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>navigationBarTextShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>textColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>textShadowColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>useNoise</key>
	<integer>0</integer>
	<key>usesBlackAviaryLogo</key>
	<integer>1</integer>
</dict>
</plist>
